Service References/ServiceReference1/clientLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/clientLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/clientLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="clientC">
    <xs:sequence>
      <xs:element minOccurs="0" name="PostalAdd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResidentialAdd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="WorkAdd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="workNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clientC" nillable="true" type="tns:clientC" />
  <xs:complexType name="ArrayOfclientC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clientC" nillable="true" type="tns:clientC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclientC" nillable="true" type="tns:ArrayOfclientC" />
</xs:schema>